/**
* Typography
*/
@import './font';

$primary-font: 'Hanken Grotesk', sans-serif;
$reg: 400;
$med: 500;
$bold: 700;
$xbold: 800;

/**
* Colours
*/

// Primary
$light-red: hsl(0, 100%, 67%);
$orangey-yellow: hsl(39, 100%, 56%);
$green-teal: hsl(166, 100%, 37%);
$cobalt-blue: hsl(234, 85%, 45%);

// Gradients
$light-slate-blue: hsl(252, 100%, 67%);
$light-royal-blue: hsl(241, 81%, 54%);
$violet-blue: hsla(256, 72%, 46%, 1);
$persian-blue: hsla(241, 72%, 46%, 0);

// Neutral
$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$light-lavender: hsl(241, 100%, 89%);
$dark-gray-blue: hsl(224, 30%, 27%);

/**
* Base styles
*/

* {
    box-sizing: border-box;
}

body {
    font-family: $primary-font;
    font-weight: 500;
    margin: 0;
    padding: 0;

    .App {
        position: relative;

        @media (min-width: 840px) {
            width: 100vw;

            @media (min-height: 640px) {
                height: 100vh;
                overflow: hidden;
            }
            
            .container {
                align-items: center;
                display: flex;
                justify-content: center;
                padding-bottom: 90px;
                width: 100%;

                @media (min-height: 640px) {
                    height: 100%;
                }

                .card-container {
                    border-radius: 1.75rem;
                    box-shadow: 2px 20px 20px 12px hsla(224, 85%, 45%, 0.05);
                    display: flex;
                    flex-wrap: nowrap;
                    max-height: 512px;
                    max-width: 740px;
                }
            }
        }

        .attribution {
            background-color: $dark-gray-blue;
            margin-top: 1.5rem;
            text-align: center;

            @media (min-width: 840px) {
                margin-top: 0;
                bottom: 0;
                display: block;
                position: absolute;
                width: 100%;
            }
            
            & > div {
                color: $white;
                margin: 0 auto;
                padding: 1.5rem 0;
            }
            
            a {
                color: $light-lavender;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
        
    }
}
