@import '../assets/scss/global';

.results {
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-bottom-left-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
    color: $white;
    padding: 1.25rem 3.75rem 2.5rem;
    text-align: center;

    .title {
        color: hsla(221, 100%, 96%, .8);
        font-size: 1.125rem;
        font-weight: $reg;
        margin: 0 0 1.5rem;
    }

    .score-circle {
        align-items: center;
        background: linear-gradient(to bottom, hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
        border-radius: 50%;
        display: flex;
        flex-wrap: wrap;
        height: 140px;
        justify-content: center;
        margin: 0 auto;
        width: 140px;

        .score {
            font-size: 3.25rem;
            margin: 0;

            &-out-of {
                color: hsla(221, 100%, 96%, .4);
                display: block;
                font-size: 1rem;
                font-weight: $med;
            }
        }
    }

    .feedback {
        color: hsla(221, 100%, 96%, .7);
        font-weight: $reg;
        margin: 0;

        &-title {
            font-size: 1.5rem;
            font-weight: $med;
            margin: 1.25rem 0 .75rem;
        }
    }
}
