@import '../assets/scss/global';

.summary {
    padding: 1.5rem 2rem;

    @media (min-width: 840px) {
        padding-top: 44px;
        padding-bottom: 60px;
        width: 50%;
    }

    .title {
        color: $dark-gray-blue;
        margin: 0 0 1.5rem;

        @media (min-width: 840px) {
            font-size: 1.5rem;
            margin-bottom: 1.75rem;
        }
    }

    .category {
        align-items: center;
        border-radius: 9px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 1.125rem 1.125rem 1.125rem 3rem;
        position: relative;
        width: 100%;

        @media (min-width: 840px) {
            padding-bottom: 1rem;
            padding-top: 1rem;
        }

        .icon {
            background: center no-repeat;
            background-size: contain;
            content: '';
            display: inline-block;
            height: 20px;
            left: 14px;
            position: absolute;
            width: 20px;
        }
        
        &:not(:last-of-type) {
            margin: 0 0 .95rem;

            @media (min-width: 840px) {
                margin-bottom: 1rem;
            }
        }

        &.reaction {
            background-color: rgba($light-red, .075);

            &:before {
                background-image: url('../assets/images/icon-reaction.svg');
            }

            .category__name {
                color: $light-red;
            }
        }

        &.memory {
            background-color: rgba($orangey-yellow, .075);

            &:before {
                background-image: url('../assets/images/icon-memory.svg');
            }

            .category__name {
                color: $orangey-yellow;
            }
        }

        &.verbal {
            background-color: rgba($green-teal, .075);

            &:before {
                background-image: url('../assets/images/icon-verbal.svg');
            }

            .category__name {
                color: $green-teal;
            }
        }

        &.visual {
            background-color: rgba($cobalt-blue, .075);

            &:before {
                background-image: url('../assets/images/icon-visual.svg');
            }

            .category__name {
                color: $cobalt-blue;
            }
        }

        &__name,
        &__score {
            font-size: 1rem;
            font-weight: $med;
            margin: 0;

            @media (min-width: 840px) {
                font-size: 1.125rem;
            }
        }

        &__score {
            @media (min-width: 840px) {
                font-weight: $bold;
            }

            .out-of  {
                color: rgba($dark-gray-blue, .5);
            }
        }
    }

    &__cta {
        background: $dark-gray-blue;
        border: none;
        border-radius: 40px;
        color: $white;
        cursor: pointer;
        display: inline-block;
        font-size: 1.0625rem;
        font-weight: $med;
        letter-spacing: .03em;
        margin: 1.5rem 0 1.75rem;
        padding: 1.125rem 0;
        text-align: center;
        width: 100%;

        @media (min-width: 840px) {
            margin: 2.75rem 0 0;
        }

        &:focus,
        &:hover {
            background: linear-gradient(to bottom, $light-slate-blue, hsl(241, 81%, 54%));
        }
    }
}
