.attribution {
    background-color: hsl(224, 30%, 27%);
    margin-top: 1.5rem;
    text-align: center;
}

.attribution > div {
    color: #fff;
    margin: 0 auto;
    padding: 1.5rem 0;
}

.attribution a {
    color: hsl(241, 100%, 93%);
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: underline;
}
